*{
	padding:0;
	margin:0;
	border-style: border-box;
}


.wire{
	border:1px solid black;

}

.img_logo{
	background:url(../images/moto.jpg) no-repeat ;
	background-size:100%;
	height:100%; 
	width:100%;
	background-attachment: fixed;



}

.center_content{
	margin-top:150px;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
     margin: 0px auto;
}


.progress{
	height:50px;
	width:100%;
}

.progress-bar{
	background-color: gray;
}

.projects{
	background-color: gray;
	height:70px;
}


.projects b{
	color: white;
}

.row_width{
	margin-top:70px;
	height:100px;
	background-color: gray;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
}



.foot{
	margin-top:150px;
	background-color: gray;
	height:200px;

}
.foot .btn{
	margin-top: 50px;
}

.foot i {
	padding:10px;
	font-size: 32px;
	color: white;
}

.foot:hover {
	background-color:black;
}
.fa-arrow-up{
	background-color: black;
}
.nav-link:hover{

	background-color: rgba(0,0,0,0.8);
}

.img-fixed{
	margin-top:50px;
	width:300px;
	height:350px;
	background-attachment:fixed;
	border-radius: 8px;
	border: 5px solid #ddd;
	 opacity: 0.6;
}

.img-fixed:hover{
	opacity:1;
}

.img-test{
	margin-top:50px;
	width:300px;
	height:350px;
	
}

ul{
	list-style:none;
}


body{
	margin:0;
	border:0;
}

.project1{
	opacity:0.5;
	height:300px; 
	width:100%;
}

.project1:hover{
	opacity:1;
}


.btn-message{
	margin-top:30px;
	float:right;
}

.btn-message:hover{
	border:none;
	color:black;
	background-color: #A8A8A8;
}

 .navbar{
 	position:fixed;
 	width:100%;
 	z-index:1;
 }